body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  /* Link */
  .container a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #2848a7;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .container a:hover {
    background-color: #215188;
  }
  
  /* Form */
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input,
  form select,
  form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  form input[type="submit"] {
    background-color: #2848a7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form input[type="submit"]:hover {
    background-color: #215188;
  }