* 
/* Button Styles */
nav ul li a.logout-btn {
  background-color: #db3c20;
  color: #fff;
  padding: 10px 10px;
  border-radius: 4px;
  margin-left: 10px;
  display: inline-block;
}
nav ul li a.logout-btn:hover {
  background-color: #b8321a;
  text-decoration: none;
}
nav .menu ul li a {
  color: #333;
}
nav ul li a.logout-btn {
  width: calc(100% - 20px); /* Adjust for padding */
  margin: 10px;
  display: block;
  text-align: center;
}
/* Body and HTML base styles */
body, html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
.layar-dalam {
  width: 1000px;
  margin: auto;
}
.layar-penuh {
  width: 100%;
}

/* Navigation styles */
nav {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: fixed;
  border-bottom: 1px solid #b1b1b1;
  line-height: 60px;
  width: 100%;
  transition: background-color 0.5s ease;
}
nav.putih {
  background-color: #fff; /* White background for navbar */
}
nav .logo {
  float: left;
  position: relative;
  line-height: 55px;
  text-align: center;
}
nav .logo img {
  vertical-align: middle;
  width: 120px;
}
nav .menu {
  float: right;
  height: 60px;
  max-width: 600px;
}
nav .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav .menu ul li {
  list-style-type: none;
  float: left;
  line-height: 60px;
}
nav ul li a {
  color: #fff;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
}
nav ul li a:hover {
  color: #333; /* Dark text color for links */
}
/* Header styles */
header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}
header video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}
header .intro {
  z-index: 100;
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
}
header .intro h3 {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.tombol {
  background-color: #db3c20;
  height: 40px;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0 20px;
  font-size: 15px;
  border-radius: 4px;
}
header .overlay {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5; /* Use 0.5 for 50% opacity */
  z-index: -1;
}
.tombol-menu {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.tombol-menu .garis {
  height: 3px;
  background-color: #fff;
}

/* Section styles */
section {
  padding: 50px 0;
}
section h3 {
  font-size: 30px;
}
section h3::after {
  content: "";
  border-bottom: 5px solid #c86b85;
  width: 52px;
  display: block;
  margin: 20px auto;
}
#aboutus, #team, #blog {
  text-align: center;
}
section p.ringkasan {
  font-style: italic;
  font-size: 18px;
  color: #ababab;
}
section .konten-isi p {
  font-style: normal;
}
nav.putih {
  background-color: #fff;
}
nav.putih .tombol-menu .garis {
  background-color: #333;
}
nav.putih ul li a {
  color: #333;
}
nav .logo img.hitam {
  display: none;
}
section.abuabu {
  background-color: #f5f6f6;
}
.support, .tim, .blog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.support h6, .tim h6 {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}
.support img {
  width: 50px;
}
.support div, .tim div {
  text-align: center;
  width: 26%;
}
section#gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  padding: 10px 0;
}
section#gallery div {
  padding: 10px;
}
section#gallery div img {
  height: 100px;
  border-radius: 5px;
}
section#gallery div img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
section.quote {
  background: url("asset/Gresik.png") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  padding: 100px;
}
section.quote .layar-dalam p {
  display: inline;
  background: url("asset/quote-icon.png") no-repeat;
  padding: 40px;
}
.tim img {
  width: 100%;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 5px;
}
.blog .area {
  width: 47%;
  box-shadow: 0px -10px 30px #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog div.area div {
  width: 50%;
}
.blog .area .gambar {
  border-radius: 5px 0 0 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
}
.blog .area .text article {
  padding: 40px;
}
.blog .area .text article h4 {
  margin: 0;
}
.blog .area .text article a {
  color: #333;
  text-decoration: none;
  transition: color 0.5s ease;
}
.blog .area .text article a:hover {
  color: #ccc;
}

/* Footer styles */
footer {
  padding: 50px 0;
  background-color: #343a40;
  color: #fff;
}
footer .layar-dalam {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .layar-dalam div {
  width: 20%;
}
footer .layar-dalam h5 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}
footer .layar-dalam .copyright {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #666;
  text-align: center;
}

/* Media queries for responsive design */
@media screen and (max-width: 991.98px) {
  .layar-dalam {
    width: 90%;
  }
  nav .menu ul {
    display: none;
    margin-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  nav .menu ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    line-height: 40px;
  }
  nav .menu ul li a {
    color: #333;
  }
  .tombol-menu {
    display: flex;
  }
  .blog .area {
    display: block;
  }
  .blog div.area div {
    width: 100%;
  }
  .blog .area .gambar {
    border-radius: 5px 5px 0 0;
    height: 200px;
  }
  .support {
    display: block;
  }
  .support div {
    width: 100%;
    padding-bottom: 30px;
  }
}

  /* Tambahkan ini ke file style.css atau user.css */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #575757;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 0;
}

nav ul ul li {
  width: 200px;
}

nav ul ul li a {
  padding: 10px;
  color: #fff;
}

nav ul li:hover > ul {
  display: block;
}

.submenu {
  display: none;
}




/* Section Packages Start */
.main-txt h1{
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
}
.main-txt h1 span{
  color: #ffa500;
}
.Rekomendasi .card{
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
}
.Rekomendasi .card img{
  border-radius: 5px;
}
.Rekomendasi .card .card-body{
  background: transparent;
}
.Rekomendasi .card .card-body h3{
  font-size: 25px;
  font-weight: 600;
}
.Rekomendasi .card .card-body p{
  font-size: 15px;
}
.checked{
  color: #ffa500;
}
.star i{
  font-size: 15px;
}
.Rekomendasi .card .card-body h6{
  font-size: 20px;
}
.Rekomendasi .card .card-body a{
  padding: 10px;
  text-decoration: none;
  background: #ffa500;
  color: white;
  border-radius: 5px;
}
/* Section Packages End */
/* Submenu */
.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    top: 100%;
    left: 0;
    min-width: 150px;
    z-index: 1;
}

.submenu li {
    border-bottom: 1px solid #575757;
}

.submenu li:last-child {
    border-bottom: none;
}

.submenu a {
    padding: 10px 20px;
    color: #fff;
}

.submenu a:hover {
    background-color: #575757;
}

.menu li:hover .submenu {
    display: block;
}

/* Icon styles */
.ti-angle-down {
    margin-left: 5px;
}

.menu li:hover > a > .ti-angle-down {
    transform: rotate(180deg);
}

/* Oleh-oleh Section */
.section-padding {
    padding: 60px 0;
}

.oleh-oleh {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.oleh-oleh h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.item {
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.item p {
    color: #777;
}

/* booky*/
/* CSS untuk modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #df0808;
  float: right;
  font-size: 28px;
  font-weight: bold;
  
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* CSS untuk tombol */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}









